yt-dlp
playwright
pyyaml
ipython
requests
torch
uv
flask
flask_basicauth
nest_asyncio
litellm
whisper
webcolors
GitPython
langchain-core
langchain
sentence-transformers
pytz
fastmcp
a2wsgi
pathspec
python-crontab
langchain-community
faiss-cpu
simpleeval
soundfile
flaredantic
